<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
</head>
<body>

<header>
	<div class="container">
		<div class="upper_header">
			<div class="logo"><a href="#">Зеленушка</a></div>
			<div class="header_contacts">
				<div class="header_tel">
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
					<a href="tel:+380957838869">+380957838869</a>
				</div>
				<div class="header_email">
					<p><i class="fa fa-envelope" aria-hidden="true"></i>Зеленушка@gmail.com</p>
				</div>
			</div>
		</div>
	</div>
</header>
		<div class="slider">
			<img class="slider_img" src="./img/thuja_spherical_main.jpg" alt="">
			<!-- <div class="img_inner"><img src="img/thuja_spherical_main.jpg" alt=""></div>
			<div class="img_inner"><img src="img/acacia_white_main.jpg" alt=""></div>
			<div class="img_inner"><img src="img/acacia_yellow_main.jpg" alt=""></div> -->
		</div>



<div class="dashboard">
	<div class="container">
		<div class="row tile_block">
		</div>
	</div>
</div>


<!-- <div class="container">
	<div class="row">
		<div class="col-xl-3 ">
			<ul class="list-group">
				<li class="list-group-item active">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Morbi leo risus</li>
				<li class="list-group-item">Porta ac consectetur ac</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
		<div class="col-xl-9">asdsa</div>
	</div>
</div> -->

<div class="dashboard">
		<!-- <div class="container all_products">
			<h3>Товары</h3>
			<div class="row">
				<div class="col-xl-3" *ngFor="let product of products">
					<div class="tile">
						<div class="tile_img">
							<img src="{{product.mainphoto}}" alt="">
							<img src="{{product.firstphoto}}" alt="" class="hover_img">
							<button class="tile_details">Подробнее</button>
						</div>
						<p class="tile_text">{{product.header}}</p>
						<p class="tile_price">{{product.price}} грн.</p>
					</div>
				</div>
			</div>
		</div>
	
	
		<div class="container-fluid new_wrap">
			<div class="container new_products">
				<h3>Последние поступления</h3>
				<div class="row">
					<div class="col-xl-3" *ngFor="let product of products | slice:-4">
						<div class="tile">
							<div class="tile_img">
								<img src="{{product.mainphoto}}" alt="">
								<img src="{{product.firstphoto}}" alt="" class="hover_img">
								<button class="tile_details">Подробнее</button>
							</div>
							<p class="tile_text">{{product.header}}</p>
							<p class="tile_price">{{product.price}} грн.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	
	<div class="container bonuses">
		<div class="row">
			<div class="col-xl-3">
				<div class="bonus_fa">
					<div class="circle">
						<i class="fa fa-car" aria-hidden="true"></i>
					</div>
					<p>Бесплатная доставка</p>
				</div>
				<hr class="hr_bonus">
				<p class="bonus_text">Наши конкуренты взимают большую дорожную плату за доставку. Но не мы. Каждый заказ стоимостью более 500 гривен доставляется абсолютно бесплатно! </p>
			</div>
			<div class="col-xl-3">
				<div class="bonus_fa">
					<div class="circle">
						<i class="fa fa-money" aria-hidden="true"></i>
					</div>
					<p>Низкая цена</p>
				</div>
				<hr class="hr_bonus">
				<p class="bonus_text">Мы предлагаем одни из самых низких цен! Поскольку мы построили эту компанию исключительно для продажи деревьев в Интернете, у нас нет больших накладных расходов, которые имеют большие питомники!</p>
			</div>
			<div class="col-xl-3">
				<div class="bonus_fa">
					<div class="circle">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
					</div>
					<p>Оперативная доставка</p>
				</div>
				<hr class="hr_bonus">
				<p class="bonus_text">Почти все наши продукты отправляются на следующий день! Мы упростили наш бизнес, чтобы получить услугу молниеносной службы!</p>
			</div>
			<div class="col-xl-3">
				<div class="bonus_fa">
					<div class="circle">
						<i class="fa fa-tree" aria-hidden="true"></i>
					</div>
					<p>Живая гарантия</p>
				</div>
				<hr class="hr_bonus">
				<p class="bonus_text">Это так важно, что мы говорим о нем ДВАЖДЫ! Мы гарантируем, что ваше дерево придет в отличном состоянии. Мы питаем и заботимся о наших деревьях, иногда более двух лет. Мы хотим, чтобы наша тяжелая работа пришла к вам живым!</p>
			</div>
		</div>
	</div>

<footer>
		<div class="container">
			<div class="row footer_inner">
				<div class="col-xl-3 logo list_col">
					<div class="logo"><a href="#">Зеленушка</a></div>
				</div>
				<div class="col-xl-1"></div>
				<div class="col-xl-4 list_col">
					<h4>Контакты</h4>
					<ul>
						<li>
							<i class="fa fa-pagelines" aria-hidden="true"></i>
							<a href="#">Зеленушка</a>
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							<a href="tel:+380957838869">   +380957838869</a>
						</li>
						<li>
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<a href="#">somegreenmail@gmail.com</a>
						</li>
						<li>
							<i class="fa fa-globe" aria-hidden="true"></i>
							<a href="#">NameOfThisSite.com</a>
						</li>
					</ul>
				</div>
				<div class="col-xl-1"></div>
				<div class="col-xl-3 list_col">
					<h4>О нас</h4>
					<ul>
						<li>
							<i class="fa fa-pagelines" aria-hidden="true"></i>
							<a href="#">Происхождение</a>
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							<a href="#">Как вырастить</a>
						</li>
						<li>
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<a href="#">Перечень всех</a>
						</li>
						<li>
							<i class="fa fa-globe" aria-hidden="true"></i>
							<a href="#">Блог(новости)</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>