@font-face{
	font-family: 'UbuntuRegular';
	src: url('../fonts/UbuntuRegular.eot');
	src: url('../fonts/UbuntuRegular.eot?iefix') format('eot'),
	url('../fonts/UbuntuRegular.woff') format('woff'),
	url('../fonts/UbuntuRegular.ttf') format('truetype');
}

@font-face{
	font-family: 'UbuntuBold';
	src: url('../fonts/UbuntuBold.eot');
	src: url('../fonts/UbuntuBold.eot?iefix') format('eot'),
	url('../fonts/UbuntuBold.woff') format('woff'),
	url('../fonts/UbuntuBold.ttf') format('truetype');
}
