@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin flex-position ($justify-content, $align-items, $flex-wrap: nowrap) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-wrap: $flex-wrap;
}

@mixin transition($property, $duration, $easing: linear) {
  transition: $property $duration $easing;
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
}

@mixin background($bg-img-path, $size, $bg-options ) {
  background: url($bg-img-path) $bg-options;
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}
