$regular: 'UbuntuRegular';
$bold: 'UbuntuBold';

$main_color: #086242;
$main_font_color: #323436;
$font_hover_color: #ffed1e;
$price_color: #288703;

$paragraph_size: 1.2rem;
$header_3: 3.5rem;
$header_4: 2.5rem;
