.bonus_circle {
  width:10rem;
  height:10rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid $main_color;
  margin:0 auto;
  position: relative;
  background: #e2e2e2;
  @include transition(background, 0.5s, ease-out);
}